    # Variant properties
on property:ro.boot.hardware.sku=XT1924-1
    setprop ro.opengles.version 196608
    setprop ro.product.model XT1924-1
    setprop ro.product.name rhannah
    setprop dalvik.vm.dex2oat-threads 2
    setprop persist.vendor.audio.fluence.speaker false
    setprop ro.vendor.sensors.amd false
    setprop ro.vendor.sensors.gravity false
    setprop ro.vendor.sensors.laccel false

on property:ro.boot.hardware.sku=XT1924-4
    setprop ro.opengles.version 196608
    setprop ro.product.model XT1924-4
    setprop ro.product.name rhannah
    setprop dalvik.vm.dex2oat-threads 2
    setprop persist.vendor.audio.fluence.speaker false
    setprop ro.vendor.sensors.amd false
    setprop ro.vendor.sensors.gravity false
    setprop ro.vendor.sensors.laccel false

on property:ro.boot.hardware.sku=XT1924-5
    setprop ro.opengles.version 196608
    setprop ro.product.model XT1924-5
    setprop ro.product.name rhannah
    setprop dalvik.vm.dex2oat-threads 2
    setprop persist.vendor.audio.fluence.speaker false
    setprop ro.vendor.sensors.amd false
    setprop ro.vendor.sensors.gravity false
    setprop ro.vendor.sensors.laccel false

on property:ro.product.name=rhannah
    setprop debug.hwui.use_buffer_age false

on boot
   # Change ownership and permission for laser_sensor
    chown system system /sys/kernel/range/enable_sar
    chmod 0660 /sys/kernel/range/enable_sar
    chown system system /sys/kernel/range/set_delay_ms
    chmod 0660 /sys/kernel/range/set_delay_ms
    chown system system /sys/kernel/range/near
    chmod 0660 /sys/kernel/range/near
    chown system system /sys/class/input/input7/enable_ps_sensor
    chmod 0660 /sys/class/input/input7/enable_ps_sensor
    chown system system /sys/class/input/input7/set_delay_ms
    chmod 0660 /sys/class/input/input7/set_delay_ms
    chown system system /sys/class/input/input7/xtalk
    chmod 0660 /sys/class/input/input7/xtalk
    chown system system /sys/class/input/input7/do_flush
    chmod 0660 /sys/class/input/input7/do_flush
    chown system system /sys/class/input/input7/offset
    chmod 0660 /sys/class/input/input7/offset

service vendor.mmi-laser-sh /vendor/bin/init.mmi.laser.sh
    class core
    user root
    oneshot

service vendor.sensors.qti /vendor/bin/sensors.qti
    class core
    user system
    group system
    disabled

service vendor.sensor-sh /vendor/bin/init.qcom.sensors.sh
    class core
    user root
    oneshot
